
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


@await Html.PartialAsync("/Views/Adminlayout/Headpartial.cshtml")


<body>


    @await Html.PartialAsync("/Views/Adminlayout/PreloaderPartial.cshtml")

    <div id="main-wrapper">


        @await Html.PartialAsync("/Views/Adminlayout/NavheaderPartial.cshtml")

        @await Html.PartialAsync("/Views/Adminlayout/HeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/Adminlayout/SidebarPartial.cshtml")

        <div class="content-body">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>

        @await Html.PartialAsync("/Views/Adminlayout/FooterPartial.cshtml")

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    @await Html.PartialAsync("/Views/Adminlayout/ScriptPartial.cshtml")

</body>

</html>

